@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4 text-warning">¡Bienvenido a Milky Pants Cheese!</h1>
</div>

@section Scripts{
    
    <script type="text/javascript">

        @*Establecemos el fondo de la pagina*@
        $('body').css('background-image', 'url(@Url.Content("imagenes/portada.PNG"))');

    </script>
    
}