@model MilkyPantsCheese.Pages.AdministrarFermentosModel

@foreach (var tipoFermento in Model.TiposDeFermentoConcordantes)
{
<div class="d-flex flex-row bg-light rounded mb-2">

    @*Id del tipo de fermento*@
    <div class="col-md-1 col-2">
        <label>Id: @tipoFermento.Id</label>
    </div>

    @*Nombre del tipo de fermento*@
    <div class="col-md-2 col-3">
        <label>Nombre: @tipoFermento.Nombre</label>
    </div>

    <div class="d-md-inline" style="display: none">
        <label class="col-1 d-md-inline" style="padding: 0">Descripcion:</label>
    </div>
    
    @*Descripcion*@
    <div class="col-md-4 col-6">
        <textarea class="form-control d-inline-block" style="resize: none; width: 100%; height: 50px;" readonly="readonly">@tipoFermento.Descripcion</textarea>
    </div>
    
    <div class="col-md-1 d-md-inline" style="display: none"></div>

    @*Boton editar*@
    <div class="col-md-1 col-1 px-0">
        <a class="nav-link px-0" asp-page="/CheeseScientist/EditarTipoFermento" asp-route-id="@tipoFermento.Id">Editar</a>
    </div>
</div>
}