@page
@model MilkyPantsCheese.Pages.CrearTipoFermentoModel

<form method="post"
      class="d-flex flex-column">

    @*Nombre del tipo de fermento*@
    <div class="form-group">

        <label asp-for="Nombre"></label>
        <input type="text" asp-for="Nombre" class="form-text" />
        @Html.ValidationMessageFor(m => m.Nombre, string.Empty, new {@class="text-danger"})
    </div>

    @*Descripcion del fermento*@
    <div class="form-group">

        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" class="form-text" style="resize: both; max-width: 800px; max-height: 200px"></textarea>
    </div>

    @*Boton crear*@
    
    <div class="d-flex flex-row flex-wrap">
    
        @*Boton crear*@
        <input type="submit" value="Crear" class="btn btn-warning align-self-start" style="width: 100px" />
    
        @*Boton cancelar*@
        <a asp-page="/CheeseScientist/AdministrarFermentos" class="text-danger align-self-end py-2 px-3">Cancelar</a>
    </div>

</form>