@using MilkyPantsCheese

<!DOCTYPE html>

<html lang="es">

    <head>
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Milky Pants Cheese</title>
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>

        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom border-warning box-shadow">

                <div class="container">

                    <a class="navbar-brand text-warning" asp-area="" asp-page="/Index">Milky Pants Cheese</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <a class="nav-link text-warning" asp-page="/Monitoreo/MonitoreoCurado">Monitoreo</a>

                        <div class="align-self-end">

                            <ul class="navbar-nav flex-grow-1">

                                @if (User.IsInRole(Constantes.NombreRolMilkyMan))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/MilkyMan/CreacionTambo">Agregar tambo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/MilkyMan/CreacionCisterna">Agregar cisterna</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/MilkyMan/AdministrarLotesDeLeche">Administrar lotes de leche</a>
                                    </li>
                                }
                                else if (User.IsInRole(Constantes.NombreRolAdministrador))
                                {
                                    <li>
                                        <a class="nav-link text-warning" asp-page="/Administrador/AdministrarUsuarios">Administrar usuarios</a>
                                    </li>
                                }
                                else if (User.IsInRole(Constantes.NombreRolSusurradorDeQuesos))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/SusurradorDeQuesos/CreacionTipoQueso">Añadir tipo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/SusurradorDeQuesos/CreacionQueso">Añadir queso</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/SusurradorDeQuesos/AdministradorDeQuesos">Administrar lotes de queso</a>
                                    </li>
                                }
                                else if (User.IsInRole(Constantes.NombreRolCheeseScientist))
                                {
                                    <li>
                                        <a class="nav-link" asp-page="/CheeseScientist/AdministrarFermentos">Administrar fermentos</a>
                                    </li>
                                }
                                else if (User.IsInRole(Constantes.NombreRolCheeseDoctor))
                                {
                                    <li>
                                        <a class="nav-link" asp-page="/CheeseDoctor/AdministrarCurado">Administrar curado</a>
                                    </li>
                                }

                            </ul>

                        </div>

                        <div class="align-self-end">
                            <partial name="_LoginPartial" />
                        </div>

                    </div>

                </div>

            </nav>

        </header>

        <div class="container h-100 position-absolute centrar-horizontalmente mt-3"
             style="margin-right: auto;margin-left: auto;left: 0;right: 0;">

            <main role="main" class="pb-3 w-100 h-100 d-inline-block centrar-horizontalmente">
                @RenderBody()
            </main>

        </div>

        @*Mensaje de confirmacion*@
        <partial name="Shared/_MensajeConfirmacion" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>
