@using MilkyPantsCheese

<!DOCTYPE html>

<html lang="es">

    <head>
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Milky Pants Cheese</title>
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>

        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

                <div class="container">

                    <a class="navbar-brand" asp-area="" asp-page="/Index">Milky Pants Cheese</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        @if (User.IsInRole(Constantes.NombreRolMilkyMan))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/MilkyMan/CreacionTambo">Agregar tambo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/MilkyMan/AdministrarLotesDeLeche">Administrar lotes de leche</a>
                                </li>
                            </ul>
                        }
                        else if (User.IsInRole(Constantes.NombreRolAdministrador))
                        {
                            <a class="nav-link text-dark" asp-page="/Administrador/AdministrarUsuarios">Administrar usuarios</a>
                        }
                        else if (User.IsInRole(Constantes.NombreRolCheeseScientist))
                        {
                            <a class="nav-link text-dark" asp-page="/CheeseScientist/AdministrarFermentos">Administrar fermentos</a>
                        }

                        <div class="align-self-end">
                            <partial name="_LoginPartial" />
                        </div>

                    </div>

                </div>

            </nav>

        </header>

        <div class="container">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>

        @*Mensaje de confirmacion*@
        <partial name="Shared/_MensajeConfirmacion" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>
