
<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    @*Boton cerrar sesion*@
    <li class="nav-item">
        <a asp-page="/Identity/Logout" class="nav-link">Cerrar sesion</a>
    </li>
}
else
{
    @*Boton ingresar*@
    <li class="nav-item">
        <a class="nav-link text-warning" asp-page="/Identity/Login">Ingresar</a>
    </li>
}
</ul>
