
<form id="contenidoMensaje" class="position-absolute bg-white text-center w-50 border border-secondary" style="display: none; top: 20%; margin-left: 25%; margin-right: 25%; height: 50%;">

</form>

<script type="text/javascript">
    
    function ToggleVisibilidadMensaje() {
        $('#contenidoMensaje').fadeToggle('slow');
    }
    
</script>