a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


body {
    background-color: #242424;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    color: #ffc107;
}

h2 {
    color: #ffc107;
}

h3 {
    color: #ffc107;
}

h4 {
    color: #ffc107;
}

a {
    color: #ffc107;
}

span {
    color: #ffc107;
}

a:hover {
    color: #ffff71;
}

.nav-link {
    color: #ffc107 !important;
}

.nav-link:hover {
    color: #ffff71 !important;
}

.bg-cheesy-gris {
    background: #242424;
}

label {
    color: #ffc107
}

.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/*#region Inputs */

input {
    outline: 0 !important;
    border-width: 1px;
    border-color: #ffc107;
    color: #ffc107;
    background: #242424;
}

input.form-control {

    outline: 0 !important;
    border-width: 1px !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
    background: #242424 !important;
}

/*Estilo por defecto para inputs de fecha y areas de texto*/
input[type="date"], input[type="datetime-local"], textarea {
    outline: 0 !important;
    border-width: 1px !important;
    border-color: #ffc107;
    color: #ffc107;
    background: #242424 !important;
}

/*Hover cuando el input no esta deshabilitado*/
input:hover:not(:disabled) {
    border-color: #ffc107;
}

input:focus {
    border-color: #ffc107;
}

input[type="date"]:disabled, input[type="datetime-local"]:disabled {
    color: #818181 !important;
    background: #555555 !important;
}

select:disabled {
    color: #818181 !important;
    background-color: #555555 !important;
}

/*#endregion */

/*#region Bootstrap checkbox */

/*Estilo checkbox desmarcada*/
.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    background-color: #555555 !important;
    border-color: #ffc107 !important;
    outline: 0 !important;
}

/*Estilo checkbox marcada*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    outline: 0 !important;
}

/*#endregion */

/*#region Boton quesito */

.btn-warning {
    color: #ffff71;
    background-color: #d29e00;
    border-color: #d29e00;
}

.btn-warning:hover {
    color: white;
    background-color: #ffc107;
}

/*#endregion */

/*#region Select*/

select {

    border-color: #ffc107 !important;
    background: #242424 !important;
    color: #ffc107 !important;
}

select a:hover {

    background: #ffc107 !important;
}

/*#endregion*/

/*#region Multiselect */

/*Color del texto de los items del dropdown*/
.dropdown-item span {
    color: #ffc107 !important;
}

/*Color del fondo de los items del dropdown cuando el mouse esta sobre ellos*/
.dropdown-menu a:hover {
    background-color: #818181 !important;
}

/*Color del borde*/
.bootstrap-select {
    border-color: #ffc107 !important;
}

/*Estilo del boton*/
.bootstrap-select button {
    background: #242424 !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
}

/*Estilo del dropdown*/
.dropdown-menu {
    background: #242424;
    border-color: #ffc107 !important;
    border-width: 1px;
}

/*#endregion */