@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Html
@model MilkyPantsCheese.Pages.AdministrarCuradoModel

@inject MilkyDbContext dbContext;

@{
    IHtmlContent content; 
    var tiposDeQuesoDisponibles = SelectListItemHelpers.ToSelectListItemListTipoQueso(await dbContext.TiposDeQuesos.ToListAsync());
}

<form method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="update"
      data-ajax-update="#resultadoBusqueda"
      data-ajax-url="/CheeseDoctor/AdministrarCurado?handler=ActualizarFiltro"
      class="d-flex flex-column d-inline-block h-100">

    @*Contenedor de las columnas*@
    <div class="d-flex flex-row flex-wrap">

        @*Primer columna*@
        <div class="d-flex flex-column mr-3">

            <div style="width: 250px;">

                @*Seleccion de fecha de inicio de curado*@
                <label asp-for="FechaInicioCuradoSeleccionada"></label>

                <div class="form-inline">
                    @await Html.PartialAsync("_CheckBox",
                        new ModeloCheckbox
                        {
                            checkBox = Html.CheckBoxFor(m => m.UtilizarFiltradoPorFechaInicioCuracion, new { @class = "custom-control-input", @onchange = "SetInputHabilitado(inputFechaInicioCurado, checked);InputFechaHabilitadoCambioHandler();" }),
                            nombrePropiedad = nameof(Model.UtilizarFiltradoPorFechaInicioCuracion),
                            contenido = string.Empty
                        })
                    <input id="inputFechaInicioCurado" type="datetime-local" asp-for="FechaInicioCuradoSeleccionada" class="ml-2" style="width: 80%" disabled />
                </div>

            </div>

            <div class="mt-2" style="width: 250px;">

                @*Seleccion de fecha de inicio de curado*@
                <label asp-for="FechaFinCuradoSeleccionada"></label>

                <div class="form-inline">
                    @await Html.PartialAsync("_CheckBox",
                        new ModeloCheckbox
                        {
                            checkBox = Html.CheckBoxFor(m => m.UtilizarFiltradoPorFechaFinCuracion, new { @class = "custom-control-input", @onchange = "SetInputHabilitado(inputFechaFinCurado, checked);InputFechaHabilitadoCambioHandler();" }),
                            nombrePropiedad = nameof(Model.UtilizarFiltradoPorFechaFinCuracion),
                            contenido = string.Empty
                        })
                    <input id="inputFechaFinCurado" type="datetime-local" asp-for="FechaFinCuradoSeleccionada" class="ml-2" style="width: 80%" disabled />
                </div>

            </div>

            <div class="mt-2" style="width: 250px;">

                @*Select tipo comparacion fecha*@
                <label asp-for="ModoComparacionFechaSeleccionado" data-toggle="tooltip" data-placement="top" title="Tipo de comparacion que se realizara entre la fecha del fermento y la fecha ingresada. La fecha del fermento queda del lado izquierdo y la ingresada en el derecho. Solo tiene efecto si no estan seleccionadas ambas, las fechas de inicio y final del curado"></label>
                <select id="selectTipoComparacionFecha" asp-for="ModoComparacionFechaSeleccionado" asp-items="@Html.GetEnumSelectList<EModoComparacion>()" class="custom-select"></select>

            </div>

        </div>

        @*Segunda columna*@
        <div class="d-flex flex-column mr-3">

            <div style="width: 250px;">

                @*Peso pre-curado*@
                <label asp-for="PesoPreCurado"></label>
                <input id="inputPesoPreCurado" type="text" asp-for="PesoPreCurado" class="form-text d-inline-block w-100 mt-0" placeholder="Peso pre-curado" onchange="TextoInputPesoCambioHandler();" />
            </div>

            <div class="mt-2" style="width: 250px;">

                @*Peso post-curado*@
                <label asp-for="PesoPostCurado"></label>
                <input id="inputPesoPostCurado" type="text" asp-for="PesoPostCurado" class="form-text d-inline-block w-100 mt-0" placeholder="Peso post-curado" onchange="TextoInputPesoCambioHandler();" />
            </div>

            <div class="mt-2" style="width: 250px;">

                @*Select tipo comparacion peso*@
                <label asp-for="ModoComparacionPesoSeleccionado" data-toggle="tooltip" data-placement="top" title="Tipo de comparacion que se realizara entre el peso del fermento y el ingresado. El peso del fermento queda del lado izquierdo y el ingresado del derecho. Solo tiene efecto si no estan seleccionadas ambos, los pesos pre y post curacion"></label>
                <select id="selectTipoComparacionPeso" asp-for="ModoComparacionPesoSeleccionado" asp-items="@Html.GetEnumSelectList<EModoComparacion>()" class="custom-select"></select>

            </div>

        </div>

        @*Tercer columna*@
        <div class="d-flex flex-column mr-3">

            <div class=" align-self-end" style="width: 250px;">

                @*Id del queso*@
                <label asp-for="IdQueso"></label>
                <input type="number" asp-for="IdQueso" class="d-inline-block w-100" />

            </div>

            <div class="" style="width: 250px;">

                @*Select estado queso*@
                <label asp-for="EstadoQuesoSeleccionado"></label>

                <div class="form-inline">
                    @await Html.PartialAsync("_CheckBox",
                        new ModeloCheckbox
                        {
                            checkBox = Html.CheckBoxFor(m => m.UtilizarFiltradoPorEstado, new { @class = "custom-control-input", @onchange = "SetInputHabilitado(selectEstadoQueso, checked);" }),
                            nombrePropiedad = nameof(Model.UtilizarFiltradoPorEstado),
                            contenido = string.Empty
                        })
                    <select id="selectEstadoQueso" asp-for="EstadoQuesoSeleccionado" asp-items="@Html.GetEnumSelectList<EEstadoQueso>()" class="d-inline-block custom-select ml-2" style="width: 80%" disabled></select>
                </div>

            </div>

            <div class="mt-2" style="width: 250px;">

                @*Seleccion del tipo de queso*@
                <label asp-for="IdTipoQueso"></label>
                
                <div class="form-inline">
                    @await Html.PartialAsync("_CheckBox", 
                        new ModeloCheckbox
                        {
                            checkBox = Html.CheckBoxFor(m => m.UtilizarFiltradoPorTipo, new {@class="custom-control-input", @onchange = "SetInputHabilitado(selectTipoQueso, checked);" }),
                            nombrePropiedad = nameof(Model.UtilizarFiltradoPorTipo),
                            contenido = string.Empty
                        })
                     
                    <select id="selectTipoQueso" asp-for="IdTipoQueso" asp-items="@tiposDeQuesoDisponibles" class="d-inline-block custom-select ml-0 ml-2" style="width: 80%" disabled></select>
                </div>

            </div>
        </div>

    </div>

    @*Botones*@
    <div class="d-flex flex-row mt-3">

        <div class="mr-3" style="width: 100px;">

            @*Boton buscar*@
            <input type="submit" class="btn btn-warning d-inline-block w-100" value="Buscar" />
        </div>

        <div style="width: 100px;">
            @*Boton crear*@
            <a asp-page="/CheeseDoctor/CrearQueso" class="btn btn-warning d-inline-block w-100" value="Crear">Crear</a>
        </div>
    </div>

    @*Lista de los quesos que satisfacen el filtro ingresado*@
    <div class="d-flex flex-column h-100 border border-warning mt-3" style="overflow-y: auto;">
        
        <div class="d-flex flex-row header-lista">
            @*Id del queso*@
            <div class="col-2 ml-0 ml-md-2">
                <label>ID</label>
            </div>

            @*Tipo del queso*@
            <div class="col-2">
                <label>Tipo</label>
            </div>

            @*Estado del queso*@
            <div class="col-2 d-none d-md-inline">
                <label>Estado</label>
            </div>

            @*Id del lote al que pertenece el queso*@
            <div class="col-2">
                <label>ID Lote</label>
            </div>
        </div>
            
        <div id="resultadoBusqueda" class="d-flex flex-column d-inline-block" style="overflow-y: auto; overflow-x: hidden; scroll-behavior: auto;"></div>
        
    </div>

</form>

@section Scripts{

    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        $("[data-toggle='tooltip']").tooltip();

        InputFechaHabilitadoCambioHandler();
        TextoInputPesoCambioHandler();

        @*Habilita o deshabilita un input en base al valor pasado en el segundo parametro*@
        function SetInputHabilitado(input, habilitado) {
            input.disabled = !habilitado;
        }

        @*Funcion llamada cuando se deshabilita/deshabilita uno de los input de fecha*@
        function InputFechaHabilitadoCambioHandler() {

            var inputFechaInicioCuradoEstaDeshabilitado = $('#inputFechaInicioCurado').attr('disabled') === 'disabled';
            var inputFechaFinCuradoEstaDeshabilitado    = $('#inputFechaFinCurado').attr('disabled') === 'disabled';

            @* La seleccion de metodo de comparacion queda habilitada si tan solo uno de los input de fecha esta habilitado*@
            $('#selectTipoComparacionFecha').attr('disabled',
                (inputFechaInicioCuradoEstaDeshabilitado && inputFechaFinCuradoEstaDeshabilitado) ||
                (!inputFechaInicioCuradoEstaDeshabilitado && !inputFechaFinCuradoEstaDeshabilitado));
        }

        @*Funcion llamada cuando se modifica el texto de uno de los input de peso*@
        function TextoInputPesoCambioHandler() {

            var inputPesoPreCuradoEstaVacio = $('#inputPesoPreCurado').val() === "";
            var inputPesoPostCuradoEstaVacio = $('#inputPesoPostCurado').val() === "";

            @*La seleccion de metodo de comparacion queda habilitada si tan solo uno de los input de peso contiene texto*@
            $('#selectTipoComparacionPeso').attr('disabled',
                (inputPesoPreCuradoEstaVacio && inputPesoPostCuradoEstaVacio) ||
                (!inputPesoPreCuradoEstaVacio && !inputPesoPostCuradoEstaVacio));
        }

    </script>
    
}