@page
@using Microsoft.EntityFrameworkCore
@model MilkyPantsCheese.Pages.AdministrarCuradoModel

@inject MilkyDbContext dbContext;

@{
    var tiposDeQuesoDisponibles = SelectListItemHelpers.ToSelectListItemListTipoQueso(await dbContext.TiposDeQuesos.ToListAsync());
}

<div class="d-flex flex-column d-inline-block h-100">
    
    <form 
        method="get"

        data-ajax="true"
        data-ajax-method="get"
        data-ajax-mode="replace"
        data-ajax-update="#listaQuesos"
        data-ajax-url="/AdministrarCurado?handler=ActualizarFiltro"

        class="table">

        <div class="row mb-3">

            <div class="col-3">

                @*Seleccion de fecha de inicio de curado*@
                <label asp-for="FechaInicioCuradoSeleccionada"></label>
                <input type="date" asp-for="FechaInicioCuradoSeleccionada" class="d-inline-block w-100" />

            </div>

            <div class="col-3 d-inline-block w-100 align-self-end">

                @*Peso pre-curado*@
                <label asp-for="PesoPreCurado"></label>
                <input type="text" class="form-text d-inline-block w-100" placeholder="Peso pre-curado" />
            </div>

            <div class="col-3">

                @*Id del queso*@
                <label asp-for="IdQueso"></label>
                <input type="number" asp-for="IdQueso" class="d-inline-block w-100" />

            </div>

            <div class="col-3 d-inline-block w-100 align-self-end">

                @*Boton buscar*@
                <input type="submit" class="btn btn-warning d-inline-block w-100" value="Buscar" />
            </div>


        </div>
        
        <div class="row mb-3">

            <div class="col-3">

                @*Seleccion de fecha de inicio de curado*@
                <label asp-for="FechaFinCuradoSeleccionada"></label>
                <input type="date" asp-for="FechaFinCuradoSeleccionada" class="d-inline-block w-100" />

            </div>

            <div class="col-3 d-inline-block w-100 align-self-end">

                @*Peso post-curado*@
                <label asp-for="PesoPostCurado"></label>
                <input type="text" class="form-text d-inline-block w-100" placeholder="Peso post-curado" />
            </div>

            <div class="col-3">

                @*Select estado queso*@
                <label asp-for="EstaQuesoSeleccionado"></label>
                <select asp-for="EstaQuesoSeleccionado" asp-items="@Html.GetEnumSelectList<EEstadoQueso>()" class="d-inline-block w-100 custom-select"></select>

            </div>

            <div class="col-3 d-inline-block w-100 align-self-end">
                @*Boton crear*@
                <a asp-page="/CheeseDoctor/CrearQueso" class="btn btn-warning d-inline-block w-100" value="Crear">Crear</a>
            </div>

        </div>
        
        <div class="row mb-3">

            <div class="col-3">

                @*Select tipo comparacion fecha*@
                <label asp-for="ModoComparacionFechaSeleccionado" data-toggle="tooltip" data-placement="top" title="Tipo de comparacion que se realizara entre la fecha del fermento y la fecha ingresada. La fecha del fermento queda del lado izquierdo y la ingresada en el derecho. Solo tiene efecto si no estan seleccionadas ambas, las fechas de inicio y final del curado"></label>
                <select asp-for="ModoComparacionFechaSeleccionado" asp-items="@Html.GetEnumSelectList<EModoComparacion>()" class="custom-select"></select>

            </div>

            <div class="col-3">

                @*Select tipo comparacion peso*@
                <label asp-for="ModoComparacionPesoSeleccionado" data-toggle="tooltip" data-placement="top" title="Tipo de comparacion que se realizara entre la fecha del fermento y la fecha ingresada. La fecha del fermento queda del lado izquierdo y la ingresada en el derecho. Solo tiene efecto si no estan seleccionadas ambas, las fechas de inicio y final del curado"></label>
                <select asp-for="ModoComparacionPesoSeleccionado" asp-items="@Html.GetEnumSelectList<EModoComparacion>()" class="custom-select"></select>

            </div>


            <div class="col-3">

                @*Seleccion del tipo de queso*@
                <label asp-for="IdTipoQueso"></label>
                <select asp-for="IdTipoQueso" asp-items="@tiposDeQuesoDisponibles" class="d-inline-block w-100 custom-select"></select>

            </div>

        </div>
    </form>
    
    <div id="listaQuesos" class="d-inline-block h-100 border">

    </div>

</div>

@section Scripts{
    
    <script type="text/javascript">

        $("[data-toggle='tooltip']").tooltip();

    </script>

}