@page
@model MilkyPantsCheese.Pages.AdministrarCuradoModel

<div class="d-flex flex-column">
    
    <div class="table">

        <div class="row">

            <div class="col-4">

                @*Id del queso*@
                <input type="number" asp-for="IdQueso" />

            </div>

        </div>

        <div class="row">
        </div>
    </div>
    
    <div class="bg-danger">

    </div>

</div>
