@using Microsoft.EntityFrameworkCore

@inject MilkyDbContext dbContext

@{ 
    var ultimosDatosSensor = await dbContext.DatosSensorCurado.OrderBy(d => d.Fecha).LastAsync();
} 

<div class="table">

    <div class="row">

        Temperatura: @ultimosDatosSensor.Temperatura °C

    </div>

    <div class="row">

        Humedad: @ultimosDatosSensor.Humedad%

    </div>

    <div class="row">

        Dioxido de carbono: @ultimosDatosSensor.DioxidoDeCarbono ppm

    </div>

</div>