@model MonitoreoCuradoModel

@foreach (var registro in Model.HistorialDatos)
{
    <div class="d-flex flex-row flex-wrap border-bottom border-warning align-items-center" style="min-height: 75px;">

        <span class="col-2 pl-0 mr-md-5 mr-1 ml-1 mr-md-0">@registro.Temperatura °C</span>

        <span class="col-2 pl-0 mr-md-4 mr-2">@registro.Humedad%</span>

        <span class="col-2 pl-0 mr-5">@registro.DioxidoDeCarbono ppm</span>

        <span class="col-2 pl-0">@registro.Fecha.ToLocalTime().ToString("g")</span>
    </div>
}