@page
@model MilkyPantsCheese.Pages.MonitoreoCuradoModel

@inject MilkyDbContext dbContext

<div class="d-flex flex-column h-100">
    
    <div class="d-flex flex-row">
        
        @*Datos del monitoreo*@
        <div id="contenedorDatosSensor" class="col-4">
            <partial name="_DatosMonitoreoCurado" />
        </div>

        @*Boton recargar*@
    <form 
          id="formMonitoreo"
          method="get"        
          class="col-7 d-flex flex-row">

        <div class="d-flex flex-column col-md-11 col-10">

            @*Texto intervalo*@
            <label asp-for="Intervalo"></label>

            <div class="form-inline">

                @*Checkbox filtrado por intervalo activado*@
                @await Html.PartialAsync("_CheckBox", new ModeloCheckbox
                {
                    checkBox = Html.CheckBoxFor(m => m.UtilizarFiltradoPorIntervalo, new { @class = "custom-control-input" }),
                    nombrePropiedad = nameof(Model.UtilizarFiltradoPorIntervalo),
                    contenido = string.Empty
                })

                @*Ingreso del intervalo*@
                <input type="time" asp-for="Intervalo" style="width: 120px;"/>

            </div>
        </div>

        <input type="submit" class="btn btn-warning ml-3 align-self-center" value="Recargar" onclick="ActualizarPresionadoHandler(event, formMonitoreo)"/>

    </form>

    </div>
    
    @*Contenedor del historial*@
    <div class="d-flex flex-column border border-warning h-100" style="overflow-y: auto;">

        @*Cabecera del historial*@
        <div class="d-flex flex-row flex-wrap border-bottom border-warning align-items-center" style="background-color: #d29e00; min-height: 50px;">
            <span class="col-2 pl-0 mr-md-5 mr-1 ml-1 mr-md-0 cheesy-text">Temperatura (°C)</span>

            <span class="col-2 pl-0 mr-md-4 mr-2 cheesy-text">Humedad</span>

            <span class="col-2 pl-0 mr-5 cheesy-text">CO2 (ppm)</span>

            <span class="col-2 pl-0 cheesy-text">Fecha</span>
        </div>
        
        @*Historial*@
        <div id="contenedorHistorial" class="d-flex flex-column" style="scroll-behavior: auto; overflow-y: auto;">

            <partial name="_HistorialDatosSensor">

        </div>

    </div>
    
</div>

@section Scripts{ 
    
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    
    <script type="text/javascript">

        var idIntervalo;

        @*Obtiene del servidor los datos del sensor cada 7,5 segundos*@
        idIntervalo = window.setInterval(function() {

            ActulizarValorActualEHistorial($('#formMonitoreo').serialize());

        }, 7500);

        @*Funcion llamada cuando el boton de actualizar es presionado*@
        function ActualizarPresionadoHandler(evento, form) {

            evento.preventDefault();

            ActulizarValorActualEHistorial($(form).serialize())
        }

        @*Actualiza el historial y el valor actual del sensor*@
        function ActulizarValorActualEHistorial(formMonitoreoSerializada) {

            console.log(formMonitoreoSerializada);

            $.ajax({
                type: "get",
                url: "/Monitoreo/MonitoreoCurado?handler=Actualizar",

                success: function (resultado) {

                    $('#contenedorDatosSensor').html(resultado);
                },

                error: function (error) {

                    console.log(error);
                }
            });

            $.ajax({
                type: "post",
                data: formMonitoreoSerializada,
                beforeSend: function (xhr) { xhr.setRequestHeader("RequestVerificationToken", $('input:hidden[name=__ResquestVerificationToken]').val()) },
                url: "/Monitoreo/MonitoreoCurado?handler=ActualizarHistorial",

                success: function (resultado) {

                    $('#contenedorHistorial').html(resultado);
                },

                error: function (error) {

                    console.log(error);
                }
            });
        }

    </script> 

}