@page
@model MilkyPantsCheese.Pages.MonitoreoCuradoModel

@inject MilkyDbContext dbContext

<div class="table h-100">
    
    <div class="row">
        
        @*Datos del monitoreo*@
        <div id="contenedorDatosSensor" class="col-4">
            <partial name="_DatosMonitoreoCurado" />
        </div>

        @*Espacio entre los datos y el boton*@
        <div class="col-4 col-md-6"></div>

        @*Boton recargar*@
        <form method="get"
              data-ajax="true"
              data-ajax-mode="replace"
              data-ajax-method="get"
              data-ajax-url="/Monitoreo/MonitoreoCurado?handler=Actualizar"
              data-ajax-update="#contenedorDatosSensor"

              class="col-4 col-md-2 form-inline">

            <input type="submit" class="btn btn-warning m-0" value="Recargar" />
        </form>

    </div>
    
    <div class="row h-100" style="max-height: 100%; scroll-behavior: auto; overflow-y: auto;">
        
        <div class="col-12 d-flex flex-column flex-wrap border border-warning p-0">
            
            <div class="d-flex flex-row flex-wrap border-bottom border-warning align-items-center">
                <span class="col-2 pl-0 mr-5 ml-1 mr-md-0">Temperatura (°C)</span>

                <span class="col-2 pl-0 mr-4 mr-md-0">Humedad</span>

                <span class="col-2 pl-0 mr-5">CO2 (ppm)</span>

                <span class="col-2 pl-0">Fecha</span>
            </div>

            @foreach (var registro in dbContext.DatosSensorCurado)
            {
                <div class="d-flex flex-row flex-wrap border-bottom border-warning align-items-center">

                    <span class="col-2 pl-0 mr-5 ml-1 mr-md-0">Temperatura: @registro.Temperatura °C</span>

                    <span class="col-2 pl-0 mr-4 mr-md-0">Humedad: @registro.Humedad%</span>

                    <span class="col-2 pl-0 mr-5">CO2: @registro.DioxidoDeCarbono ppm</span>

                    <span class="col-2 pl-0">Fech @registro.Fecha.ToLocalTime().ToString("g")</span>
                </div>
            }
        </div>

    </div>
    
</div>

@section Scripts{ 
    
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    
    <script type="text/javascript">

        var idIntervalo;

        @*Obtiene del servidor los datos del sensor cada 7,5 segundos*@
        idIntervalo = window.setInterval(function() {

            $.ajax({
                type: "get",
                url: "/Monitoreo/MonitoreoCurado?handler=Actualizar",

                success: function(resultado) {

                    console.log(resultado.responseText);

                    $('#contenedorDatosSensor').html(resultado);
                },

                error: function(error) {

                    console.log(error);
                }
            });

        }, 7500);

    </script> 

}