@page
@using System.Security.Policy
@model MilkyPantsCheese.Pages.LoginModel
@{

    <form method="post">

        <!--Nombre de usuario-->
        <div class="form-group">

            <input type="text" class="form-text" asp-for="Nombre"/>

            @Html.ValidationMessageFor(m => m.Nombre, string.Empty, new { @class = "text-danger" })
        </div>

        <!--Contraseña-->
        <div class="form-group">

            <input type="password" class="form-text" asp-for="Contraseña"/>

            @Html.ValidationMessageFor(m => m.Contraseña, string.Empty, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Ingresar" class="btn btn-primary" />
        </div>
    </form>
}
