@page
@model MilkyPantsCheese.Pages.LogoutModel
@{
}

<div class="d-flex flex-column align-items-center">
    
    <h1 class="h1 text-center">Sesion cerrada</h1>

    <a asp-page="/Index" class="text-primary mt-5">Regresar al inicio</a>

</div>

