@page

@using MilkyPantsCheese

@model MilkyPantsCheese.Pages.CreacionTamboModel
@{
    @if (!User.IsInRole(Constantes.NombreRolMilkyMan))
    {
        <div class="container p-3 border border-warning rounded position-absolute" style="margin-right: auto; margin-left: auto; left: 0; right: 0;">

            <div>
                <h4 class="text-left">Nuevo tambo:</h4>
            </div>

            <form method="post"
                  enctype="multipart/form-data"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-url="CreacionCita">

                <!--Nombre del tambo-->
                <div class="form-group">

                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" type="text" class="form-text" />

                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })

                </div>
                
                <!--Notas acerca del tambo-->
                <div class="form-group">

                    <label asp-for="Notas"></label>
                    <textarea class="form-text overflow-auto w-100" asp-for="Notas"></textarea>

                </div>

                <!--Boton submit-->
                <div class="form-group mt-4">
                    <input type="submit" value="Añadir" class="form-text btn btn-primary" />
                </div>
            </form>

        </div>
    }
}
